.reviews {
    padding: 0 0 30px 0;
    .review {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        &__icon {
            width: 169px;
            height: 169px;
        }
        &__text {
            max-width: 680px;
        }
        &__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #0D0D0D;
        }
        &__marathon-count {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #646464;
        }
        &__descr {
            margin-top: 10px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
        }
    }
}